Django==5.2.10
djangorestframework
djoser
django-cors-headers
django-extensions
python-dotenv
Pillow
stripe
requests
celery[redis]
django-celery-beat
redis
channels[daphne]
channels-redis
firebase-admin
