{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | FSBO Admin{% endblock %}

{% block extrahead %}
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32.png' %}">
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin/css/fsbo_admin.css' %}">
{% endblock %}

{% block branding %}
    <div id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'img/logo-dark.svg' %}" alt="For Sale By Owner Admin">
        </a>
    </div>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
